[Unit]
Description=cpuhogger for heavyload
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/study_linux/tool/cpuhogger/cpuhogger
CPUQuota=10%

[Install]
WantedBy=early.target
