[Unit]
Description=cpuhogger for heavyload
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/etc/systemd/scripts/cpuhogger.sh 1

[Install]
WantedBy=early.target
